<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Through projects, workshops, and networking events, our club seeks professional development for all of our members. As a student-run organization, we're always seeking partners, sponsors, and new networking opportunities to build our community.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2023</h4>
                                    <h4 class="subheading">Creation of the IT Managment Club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mason Coler-Dark establishes the ITM Club with fellow classmates and supportive faculty advisors, Kevin Rank and John Wee. The Discord server we currently use was also created at this time, laying the foundation for community interaction.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2023</h4>
                                    <h4 class="subheading">First ITM Event</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The ITM Club hosts its first public event, inviting guest speaker and BSU Alumni Rachel Hogan from Women Innovators (W.IN).</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2024</h4>
                                    <h4 class="subheading">Collaboration with the C^4 Club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The ITM Club teams up with the Competitive Cybersecurity and Cyber-physical Club (C^4) to participate in the NCAE CyberGames Competition. Together, they defend a network from ethical hackers and tackle various CTF challenges throughout the competition.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2024</h4>
                                    <h4 class="subheading">Merger with C^4 Club</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After more events and a new semester both clubs merged to form the current IT Club. This collaboration helped expand the club's focus on cybersecurity, technology, and professional development while having a larger community of like minded individua</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <a href="#join" class="page-scroll btn-circle" style="text-decoration: none; ">
                                    Tell Us
                                    <br>What's
                                    <br>Next!
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>