<section id="join">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Us</h2>
                    <h3 class="section-subheading text-muted">Please fill out this google form to join our discord:</h3>
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSexMIfu-Ms5MnrYowuI38Tm4jDwNr5oBwX8fPP-x9W8yBfcZg/viewform?embedded=true" width="640" height="808" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
                </div>
            </div>
        </div>
    </section>
